{% extends "layout.html" %}
{% block conteudo %}

    <!-- MAIN -->
    <main>

        <!-- HERO / BANNER -->
        <section class="hero">
            <div class="hero-content">
                <h1>Encontre seu <span>companheiro</span> perfeito!</h1>
                <p>Criaturas únicas. Laços eternos.</p>
                <a href="/catalogo/1">
                     <button class="btn-primary">Explorar catálogo</button>
                </a>
               
            </div>

            <div class="hero-image">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/135.png"
                    alt="Pokemon destaque">
            </div>

            <!-- Setas -->
            <button class="hero-arrow left">&#10094;</button>
            <button class="hero-arrow right">&#10095;</button>
        </section>

        <!-- DESTAQUES -->
        <section class="destaques">

            <div class="destaque-header">
                <h2>Pokemon em Destaque</h2>
                <a href="/catalogo/1"><button class="ver-todos">Ver todos →</button></a>
            </div>

            <div class="destaque-grid" id="pokemonDestaque">
                {% for pokemon in destaques: %}
            
                <div class="card-destaque">
                    <div class="img-wrap" style="background:var(--{{pokemon.type1}})">
                        <span class="type-badge" style="background:var(--badge-{{pokemon.type1}})">{{pokemon.type1}}</span>
                        <button class="btn-fav">
                            <span class="material-symbols-outlined">shopping_cart</span>
                        </button>
                        <a href="/unitario/{{pokemon.id}}">
                        <img src="{{pokemon.image}}" alt="{{pokemon.name}}">
                    </div>
                    <div class="card-info">
                        <div class="nome">{{pokemon.name}}</div>
                        <div class="tipo-texto">{{pokemon.type1}}{% if pokemon.type2 == none :%}{% else %}/{{pokemon.type2}}{% endif %}</div>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>

            <div class="destaque-header_len">
                <h2>Pokemon Lendários em Destaque</h2>
                <a href="/catalogo/1"><button class="ver-todos">Ver todos →</button></a>
            </div>

            <div class="destaque-grid" id="pokemonDestaque">
                {% for pokemon in destaques_len: %}
            
                <div class="card-destaque">
                    <div class="img-wrap" style="background:var(--{{pokemon.type1}})">
                        <span class="type-badge" style="background:var(--badge-{{pokemon.type1}})">{{pokemon.type1}}</span>
                        <button class="btn-fav">
                            <span class="material-symbols-outlined">shopping_cart</span>

                        </button>
                        <a href="/unitario/{{pokemon.id}}">
                        <img src="{{pokemon.image}}" alt="{{pokemon.name}}">
                    </div>
                    <div class="card-info">
                        <div class="nome">{{pokemon.name}}</div>
                        <div class="tipo-texto">{{pokemon.type1}}{% if pokemon.type2 == none :%}{% else %}/{{pokemon.type2}}{% endif %}</div>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>

        </section>

    </main>

<script>



</script>

{% endblock %}
