<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PokeVault</title>

    <!-- Incluir os links para CSS (pode ter mais arquivos ou arquivos com nomes diferentes) -->
    <link rel="stylesheet" href="/static/layout.css" />
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/unitario.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap" rel="stylesheet">

    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <link rel="stylesheet" href="/static/reset.css">
    <!-- script -->

    <script src=""></script>

    {% block css_adicional %}
    {% endblock %}
</head>

<body>
    <!-- HEADER -->
    <header class="header">

        <!-- TOPO -->
        <div class="header-top">

            <a href="/login">
                <button class="btn-login">
                    <span class="material-symbols-outlined">person</span>
                    Entrar
                </button>
            </a>

            <a href="/inicio">
                <img src="/static/img/nome-header.png" class="logo" alt="PokeVault">
            </a>


            <img src="/static/img/pokebola-header.png" class="pokebola" alt="Pokebola">
        </div>

        <!-- NAVBAR -->
        <div class="navbar-wrapper">
            <nav class="navbar">
                <ul>
                    <a href="/inicio">
                        <li class="active">
                            <span class="material-symbols-outlined">home</span>
                            Início
                        </li>
                    </a>

                    <div class="dropdown">
                        <button class="btn-dropdown active-red">Menu <span class="material-symbols-outlined arrow">expand_more</span></button>
                        <div class="dropdown-conteudo">
                            <a href="/catalogo/1">Pokemons</a>
                            <a href="#">Itens</a>
                        </div>
                    </div>


                    <li>Ofertas</li>
                    <li>Novidades</li>
                    <li>Sobre nós</li>
                    <li>Contato</li>

                    <li class="cart">
                        <span class="material-symbols-outlined">shopping_cart</span>

                    </li>
                </ul>
            </nav>
        </div>


    </header>
    {% block conteudo %}

    {% endblock %}
    <!-- FOOTER BANNER -->
    <footer class="footer-banner">
        <div class="banner-item">
            <div class="banner-icon">🛡️</div>
            <div><strong>Compra segura</strong><span>Seus dados protegidos.</span></div>
        </div>
        <div class="banner-item">
            <div class="banner-icon">🚚</div>
            <div><strong>Entrega rápida</strong><span>Para todo o mundo.</span></div>
        </div>
        <div class="banner-item">
            <div class="banner-icon">🐾</div>
            <div><strong>Criaturas 100% únicas</strong><span>Nenhuma igual à outra.</span></div>
        </div>
        <div class="banner-item">
            <div class="banner-icon">⭐</div>
            <div><strong>Satisfação garantida</strong><span>7 dias para devolução.</span></div>
        </div>
    </footer>

</body>

</html>