<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PokeVault</title>

    <!-- Incluir os links para CSS (pode ter mais arquivos ou arquivos com nomes diferentes) -->
    <link rel="stylesheet" href="/static/layout.css" />
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/unitario.css">

    <link rel="icon" href="https://www.image2url.com/r2/default/images/1781272934548-e483da08-be8f-4d82-9dac-2845a16d50d4.png">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap" rel="stylesheet">

    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <link rel="stylesheet" href="/static/reset.css">
    <!-- script -->

    <script src=""></script>

    {% block css_adicional %}
    {% endblock %}
</head>

<body>
    <!-- HEADER -->
    <header class="header">

        <!-- TOPO -->
        <div class="header-top">

            {% if session.get('usuario_logado') %}
            <div class="user-area">
                <span style="color: white;" class="material-symbols-outlined">person</span>

                <!-- aqui depende do que vem no resultado -->
                <span style="color: white;" class="user-name">
                    {{ session['usuario_logado']['nome'] }}
                </span>

                <a href="/logout">
                    <button class="btn-login">Sair</button>
                </a>
            </div>
            {% else %}
            <a href="/login">
                <button class="btn-login">
                    <span class="material-symbols-outlined">person</span>
                    Entrar
                </button>
            </a>
            {% endif %}

            <a href="/inicio">
                <img src="/static/img/nome-header.png" class="logo" alt="PokeVault">
            </a>


            <img src="/static/img/pokebola-header.png" class="pokebola" alt="Pokebola">
        </div>

        <!-- NAVBAR -->
        <div class="navbar-wrapper">
            <nav class="navbar">
                <ul>
                    <a href="/inicio">
                        <li class="active">
                            <span class="material-symbols-outlined">home</span>
                            Início
                        </li>
                    </a>

                    <div class="dropdown">
                        <button class="btn-dropdown active-red">Menu <span
                                class="material-symbols-outlined arrow">expand_more</span></button>
                        <div class="dropdown-conteudo">
                            <a href="/catalogo/1">Pokemons</a>
                            <a href="#">Itens</a>
                        </div>
                    </div>


                    <li>Ofertas</li>
                    <li>Novidades</li>
                    <li>Sobre nós</li>
                    <li>Contato</li>

                    <li class="cart-btn">
                        <button onclick="toggleCart()">
                            <span class="material-symbols-outlined">shopping_cart</span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>


    </header>
    {% block conteudo %}

    {% endblock %}
    <!-- FOOTER BANNER -->
    <footer class="footer-banner">
        <div class="banner-item">
            <div class="banner-icon">🛡️</div>
            <div><strong>Compra segura</strong><span>Seus dados protegidos.</span></div>
        </div>
        <div class="banner-item">
            <div class="banner-icon">🚚</div>
            <div><strong>Entrega rápida</strong><span>Para todo o mundo.</span></div>
        </div>
        <div class="banner-item">
            <div class="banner-icon">🐾</div>
            <div><strong>Criaturas 100% únicas</strong><span>Nenhuma igual à outra.</span></div>
        </div>
        <div class="banner-item">
            <div class="banner-icon">⭐</div>
            <div><strong>Satisfação garantida</strong><span>7 dias para devolução.</span></div>
        </div>
    </footer>

    <aside class="cart" id="cart">

      <div class="cart__header">
        <strong style="color: black;">Seu Carrinho</strong>
        <span onclick="toggleCart()" style="cursor:pointer; color: black;">✖</span>
      </div>

      <div class="cart__items" id="cart-items">
        <!-- Itens vão aqui -->
        
      </div>

      <div class="cart__footer">
        <div class="cart__total" style="color: black;">
          <strong style="color: black;" id="cart-total">Total:</strong> R$ 00,00
        </div>

        <button class="cart__btn">
          Finalizar Pedido
        </button>
      </div>

    </aside>

    <script>
        function toggleCart() {
        const cart = document.getElementById('cart');
        const overlay = document.querySelector('.cart-overlay');
        
        cart.classList.toggle('open');
        
        if (!overlay) {
          const newOverlay = document.createElement('div');
          newOverlay.className = 'cart-overlay';
          newOverlay.onclick = toggleCart;
          document.body.appendChild(newOverlay);
          setTimeout(() => newOverlay.classList.add('active'), 10);
        } else {
          overlay.classList.toggle('active');
        }
      }
    </script>

</body>

</html>